<div class="row">
  <div class="col-6">
    <h1>Movies</h1>
  </div>
  
</div>

<table class="table table-bordered">
    <tr class="bg-info">
        <th>id</th>
        <th>username</th>
        <th>email</th>
        <th>password</th>
        <th>role</th>
        <th>Actions</th>
    </tr>
    <tbody>
        {{#each rows}}
        <tr>
         <td scope="row">{{this.id}}</td>
         <td>{{this.poster}}</td> 
         <td>{{this.title}}</td> 
         <td>{{this.writers}}</td> 
         <td>{{this.directors}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>